body {
    margin: 0;
    padding: 0;
    font-size: 30px;
}
.container {
    background: #000000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.container a {
    margin-left: 10px;
    color: white;
}
.container select {
    margin-left: 70px;
    background: none;
    color: #fff;
    border: none;
    outline: none;
    font-size: 30px;
}
.container option {
    background: black;
}
.content {
    margin: 40px;
}
.content a {
    margin-left: 50px;
    text-decoration: none;
    color: black;
}
.input {
    width: 350px;
    margin-left: 150px;
    text-align: left;
    position: absolute;
    top: 70px;
    right: 250px;
}
.search {
    position: relative;
    margin-top: 5px;
    float: right;
    margin-right: 220px;
}
.form {
   float: right;
   position: absolute;
   top: 350px;
   right: 40px;
   margin: 50px;
   margin-top: 20px;
   font-size: 25px;
}
input {
    display: block;
    margin: 20px;
    padding: 10px;
    border: none;
    outline: none;
    margin-top: 20px;
    font-size: 25px;
}
.pswd {
  margin-left: 70px;
  color: red;
  text-decoration: none;
  float: right;
  position: absolute;
  left: 250px;
  bottom: 10px;
}
.btn {
   display: block;
   margin-top: 30px;
   width: 50%;
   padding: 30px;
   background: red;
   color: white;
   border: none;
   border-radius: 5px;
   font-size: 25px;
}
.btn:hover {
    background: #c03434;
}
.btn:active {
    background: rgb(6, 236, 6);
}
footer {
    background-color: black;
}
.footer {
    display: flex;
    justify-content: space-between;
    color: white;
    border-bottom: 1px solid white;
    padding: 50px 150px 40px;
}
.footer a {
    text-decoration: none;
    color: white;
}
.fcolumn {
    display: inline-block;
    text-align: left;
    margin: 0 -10px;
}
footer span {
    display: block;
    margin: 10px 0 10px;
    margin: 14px 0;
}
.footer li {
    display: inline;
    list-style: none;
    margin: 0px 10px;
}
.footer address {
    text-emphasis: none;
    font-style: normal;
}
footer h3 {
    font-size: 25px;
    margin-bottom: 12px;
}
footer h4 {
    font-size: 30px;
    font-weight: normal;
}
.footer span {
    font-size: 25px;
}
.footer input {
    background-color: black;
    color: gray;
    border: 2px solid white;
    padding:  10px 10px 10px 10px;
    border-radius: 6px;
}
.fsend {
    text-align: right;
    margin-top: -55px;
    margin-right: 30px;
}
.fimg {
    display: flex;
    margin-bottom: 14px;
}
.appmarket img {
    display: block;
    margin-left: 8px;
}
.copyright {
    text-align: center;
    padding: 15px;
    font-size: 30px;
}