*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat","Poppins","Nunito";
}
html{
    scroll-behavior: smooth;
}
.first-header{
    background: black;
    color: white;
    /* position: relative;
    top: 0;
    left:0; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;

}
.first-header a{
    color: white;
    margin-left: 10px;
}
.dropdown{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dropdown svg{
    position: absolute;
    left: 280px;
}
.first-header select{
    position: absolute;
    top: 20px;
    right: 60px;
    background: none;
    outline: none;
    color: white;
    border: none;
}
.first-header select option{
    color: black;
}
.second-header{
    display: flex;
    align-items: center;
    padding: 20px 50px;
    justify-content: space-between;
}
.second-header ul li{
    display: inline-block;
    margin: 10px;
}
.search-bar{
    position: relative;
}
.search-bar input{
    background-color: #F5F5F5;
    width: 270px;
    height: 38px;
    outline: none;
    border: none;
    border-radius: 4px;
    padding-left: 15px;
}
.search-bar svg{
    position: absolute;
    top: 25%;
    right: 5%;
}
.header-icon svg{
    transition: 0.8s ease;
    cursor: pointer;
    font-size: 15px;
    border-radius: 50%;
    margin: 0px 5px;
}
.header-icon svg:hover{
    background-color: #DE5353;
}
.header-icon svg path {
    transition: 0.5s ease;
}
.header-icon svg:hover path {
    stroke: #fff;
}
.user-settings{
    width: 225px;
    height: 208px;
    box-shadow: 0px 0px 30px rgba(255, 255,255,0.37);
    backdrop-filter: blur(150px);
    border-radius: 4px;
    position: absolute;
    display: inline-block;
    pointer-events: none;
    transition: 0.2s;
    color: #F5F5F5;
    font-size: 15px;
    opacity: 0;
    top: 110px;
    right: 30px;
}
.user-settings ul li svg:hover{
    background: none;
    stroke: #f0f0f0;
}
.user-settings ul li{
    margin-top: 3px;
    cursor: pointer;
}
.header-icon .user:hover ~ .user-settings, .user-settings:hover{
    top: 120px;
    opacity: 1;
    pointer-events: auto;
}
.second-header ul li a{
    text-decoration: none;
    color: #000;
}
.second-header ul li a:hover{
    text-decoration: underline;
}
.first-page{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}
.first-page .menu{
    margin-top: -20px;
}
.first-page ,menu ul{
    margin-top: 30px;
}
.first-page .menu ul li{
    list-style-type: none;
    padding: 10px 0;
    margin-right: 70px;
    cursor: pointer;
    font-weight: 800;
}
.line{
    height: 410px;
    width: 1px;
    background-color: #9A9A9A;
    margin-top: -30px;
}
.right-pic{
    margin-top: 30px;
    margin-right: 10px;
}
.today{
    padding: 50px;
}
.head{
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}
.head p{
    margin-left: 10px;
    color: #DE5353;
    font-weight: 800;
}
.square{
    width: 20px;
    height: 40px;
    border-radius: 5px;
    background-color: #DE5353;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar h2{
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 600;
}
.clock{
    margin-right: 170px;
}
.clock-words span{
    /* padding: 0px; */
    margin-right:30px;
}
.clock-num span{
    padding-right: 17px;
    font-size: 30px;
    font-weight: 900;
    font-family: sans-serif;
}
.clock-num{
    margin-right: -70px;
}
.colon{
    color: #DE5353;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.flashbars{
    padding: 0 50px;
}
.flashbars img{
    padding: 15px;
    background-color: #F5F5F5;
    border-radius: 50%;
}
.product_list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.product .header{
    background-color: #F5F5F5;
    padding: 50px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    cursor: pointer;
    width: 270px;
    height: 250px;
}
.discount{
    background-color: #DE5353;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    left: 10px;
    top: 10px;
}
.hover{
    background-color: #000;
    color: #fff;
    width: 100%;
    position: absolute;
    bottom: -50px;
    left: 0;
    outline: none;
    border: none;
    padding: 15px 0;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    transition: 0.5s ease-out;

}
.header:hover .hover{
    bottom: 0;
}
.header svg{
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    height: 30px;
    width: 30px;
}
.eye{
    right: 15px;
    top: 50px;
}
.heart{
    right: 15px;
    top: 15px;
}
.product .footer{
    font-weight: 800;
}
.price{
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.price del{
    color: #DE5353;
    margin-left: 10px;
}
.view-all{
    display: flex;
    justify-content: center;
    align-items: center;
}
.view-all button{
    background-color: #DE5353;
    border: none;
    color: #fff;
    outline: none;
    border-radius: 5px;
    padding: 15px 30px;
    margin: 30px 0;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.6s ease;
}
.view-all button:hover{
    background-color: #e77272;
}
.categories{
    padding: 50px;
}
.category_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}
.category{
    border: 2px solid #9A9A9A;
    border-radius: 5px;
    position: relative;
    width: 170px;
    height: 140px;
    transition: all 0.6s ease;
}
.category svg{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}
.category p{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
}
.category:hover{
    cursor: pointer;
    background-color: #DE5353;
    border-color: #DE5353;
}
.category:hover p{
    color: #fff;
}
.category:hover svg path{
    stroke: #fff;
}
.category:hover svg line{
    stroke: #fff;
}
.best-sell{
    padding: 50px;
}
.best-sell button{
    background-color: #DE5353;
    border: none;
    color: #fff;
    outline: none;
    border-radius: 5px;
    padding: 15px 50px;
    margin: 30px 0;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.6s ease;
}
.best-sell button:hover{
    background-color: #e77272;
}
.best-sell .hover{
    background-color: #000;
    color: #fff;
    width: 100%;
    position: absolute;
    bottom: -90px;
    left: 0;
    outline: none;
    border: none;
    padding: 15px 0;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    transition: 0.5s ease-out;

}
.best-sell .header:hover .hover{
    bottom: -30px;
    background-color: #000;
}
hr{
    width: 95%;
    margin: 0 auto;
}
.music{
    margin: 60px auto;
    width: 1170px;
    height:500px; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000;
    color: #fff;
}
.music .left{
    width: 40%;
}
.music .left h2{
    font-size: 45px;
    font-weight: 600;
}
.timer{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.music-category{color: #00FF66;font-weight: 600;}
.time{
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    width: 62px;
    height: 62px;
    margin-right: 30px;
}
.time p{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 11px;
    color: #000;
}
.time .num{
    top: 30%;
    font-size: 13px;
    font-weight: 600;
}
.time .word{
    top: 50%;
}
.music button{
    background-color: #00FF66;
    border-radius: 3px;
}
.products{
    padding: 50px;
}
.new{
    background-color: #00FF66;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    left: 10px;
    top: 10px;
}
.details{
    display: flex;
    align-items: center;
}
.details p{
    margin-right: 10px;
    color: #DE5353;
}
.featured{
    padding: 50px;
}
.photos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.right img{
    margin: 13px;
}
.services{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.pack{
    position: relative;
    width: 100%;
    height: 400px;
}
.pack svg{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.pack p{
    position: absolute;
    left: 50%;
    top: 100px;
    font-weight: 800;
    font-size: 15px;
    transform: translateX(-50%);
}
.pack span{
    position: absolute;
    left: 50%;
    font-size: 11px;
    top: 130px;
    font-weight: 800;
    color: #9A9A9A;
    transform: translateX(-50%);
}
.ffooter {
    background-color: black;
}
.ffooter .footer {
    display: flex;
    justify-content: space-between;
    color: white;
    border-bottom: 1px solid white;
    padding: 50px 150px 40px;
}
.ffooter .footer a {
    text-decoration: none;
    color: white;
}
.ffooter .fcolumn {
    display: inline-block;
    text-align: left;
    margin: 0 -10px;
}
.ffooter span {
    display: block;
    margin: 10px 0 10px;
    margin: 14px 0;
}
.ffooter .footer li {
    display: inline;
    list-style: none;
    margin: 0px 10px;
}
.ffooter .footer address {
    text-emphasis: none;
    font-style: normal;
}
.ffooter h3 {
    font-size: 25px;
    margin-bottom: 12px;
}
.ffooter h4 {
    font-size: 20px;
    font-weight: normal;
}
.ffooter .footer span {
    font-size: 15px;
}
.ffooter .footer input {
    background-color: black;
    color: gray;
    border: 2px solid white;
    padding:  10px 10px 10px 10px;
    border-radius: 6px;
}
.ffooter .fsend {
    text-align: right;
    margin-top: -33px;
    margin-right: 13px;
}
.ffooter .fimg {
    display: flex;
    margin-bottom: 14px;
}
.ffooter .appmarket img {
    display: block;
    margin-left: 8px;
}
.ffooter .copyright {
    text-align: center;
    padding: 15px;
    font-size: 30px;
}
.return{
    position: absolute;
    top: 800%;
    right: 50px;
}
.colors{
    display: flex;
}
.colors .red{
    margin: 0 3px;
}