.body {
        margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.container a {
    margin-left: 20px;
    color: #fff;
}
.contact {
    text-decoration: underline;
}
.container select {
    margin-left: 80px;
    background: none;
    border: none;
    outline: none;
    color: white;
}
.container option {
    background: black;
}
.content {
    margin: 50px;
}
.content a {
    margin-left: 50px;
    text-decoration: none;
    color: black;
}
.content input {
    margin-left: 250px;
     width: 200px;
    padding: 10px;
    background-color: #f5f5f5;
    border: none;
}
.search {
    margin-left: -25px;
    margin-bottom: -2px;
}
.comment {
     margin-bottom: -8px;
}
main {
    margin-top: 200px;
}
.path {
    text-align: left;
    margin-bottom: 100px;
    padding-left: 200px;
}
.path a {
    color: black;
    text-decoration: none;
font-size: 17px;
}
.home {
color: gray;
}
h1 {
    font-size: 50px;
}
.ourstory {
    padding-left: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 140px;
}
.awriting {
    width: 520px;
    height: 336px;
    font-size: 18px;
   margin-left: -270px;
}
.awriting p {
    margin-top: 20px;
}
.market {
    padding: 0 350px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.state {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 30px;
    border: 1px solid #f3e9e9;
    width: 270px;
    height: 200px;
    border-radius: 5px;
}
.status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 30px;
    color: white;
    width: 270px;
    height: 200px;
    border-radius: 4px;
    background-color: #db4444;
}
.headn {
    font-size: 30px;
    font-weight: bold;
}
.shedn {
    font-size: 30px;
    font-weight: bold;
}
.management {
    padding: 0 300px;
    margin-top: 180px;
    background-color: #f5f5f5;
    margin-left: -150px;
    gap: 110px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}
.management h3 {
    font-size: 30px;
    margin: 10px 0;
}
.application {
    margin-top: 10px;
}
.management a {
    margin-right: 10px;
    text-decoration: none;
}
.seven {
    padding: 0 350px;
    text-align: center;
    margin: 140px 0;
}
.principles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 140px;

}
.seven h5 {
    font-size: 20px;
}
.prin {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
footer {
    background-color: black;
}
.footer {
    display: flex;
    justify-content: space-between;
    color: white;
    border-bottom: 1px solid white;
    padding: 50px 150px 40px;
}
.footer a {
    text-decoration: none;
    color: white;
}
.fcolumn {
    display: inline-block;
    text-align: left;
    margin: 0 -10px;
}
footer span {
    display: block;
    margin: 10px 0 10px;
    margin: 14px 0;
}
.footer li {
    display: inline;
    list-style: none;
    margin: 0px 10px;
}
.footer address {
    text-emphasis: none;
    font-style: normal;
}
footer h3 {
    font-size: 30px;
    margin-bottom: 12px;
    font-style: normal;
}
footer h4 {
    font-size: 25px;
    font-weight: normal;
}
.footer span {
    font-size: 17px;
}
.footer input {
    background-color: black;
    border: 2px solid white;
    padding: 10px 8px 10px 10px;
    border-radius: 6px;
}
.fsend {
    text-align: right;
    margin-top: -32px;
    margin-right: 10px;
}
.fimg {
    display: flex;
    margin-bottom: 15px;
}
.appmarket img {
    display: block;
    margin-left: 8px ;
}
.copyright {
    text-align: center;
    padding: 15px;
}
