*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat","Poppins","Nunito";
}
.first-header{
    background: black;
    color: white;
    /* position: relative;
    top: 0;
    left:0; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;

}
.first-header a{
    color: white;
    margin-left: 10px;
}
.first-header select{
    position: absolute;
    top: 20px;
    right: 60px;
    background: none;
    outline: none;
    color: white;
    border: none;
}
.first-header select option{
    color: black;
}
.second-header{
    display: flex;
    align-items: center;
    padding: 20px 50px;
    justify-content: space-between;
}
.second-header ul li{
    display: inline-block;
    margin: 10px;
}
.search-bar{
    position: relative;
}
.search-bar input{
    background-color: #F5F5F5;
    width: 270px;
    height: 38px;
    outline: none;
    border: none;
    border-radius: 4px;
    padding-left: 15px;
}
.search-bar svg{
    position: absolute;
    top: 25%;
    right: 5%;
}
.header-icon svg{
    transition: 0.8s ease;
    cursor: pointer;
    font-size: 15px;
    border-radius: 50%;
    margin: 0px 5px;
}
.header-icon svg:hover{
    background-color: #DE5353;
}
.header-icon svg path {
    transition: 0.5s ease;
}
.header-icon svg:hover path {
    stroke: #fff;
}
.header button{
  margin-left: 1100px;
  padding: 15px;
}
.user-settings{
    width: 225px;
    height: 208px;
    box-shadow: 0px 0px 30px rgba(255, 255,255,0.37);
    background-color: #DE5353;
    border-radius: 4px;
    position: absolute;
    display: inline-block;
    pointer-events: none;
    transition: 0.2s;
    color: #F5F5F5;
    font-size: 15px;
    opacity: 0;
    top: 110px;
    right: 30px;
    z-index: 100;
}
.user-settings ul li svg:hover{
    background: none;
    stroke: #f0f0f0;
}
.user-settings ul li{
    margin-top: 3px;
    cursor: pointer;
}
.header-icon .user:hover ~ .user-settings, .user-settings:hover{
    top: 120px;
    opacity: 1;
    pointer-events: auto;
}
.second-header ul li a{
    text-decoration: none;
    color: #000;
}
.second-header ul li a:hover{
    text-decoration: underline;
}
.product_list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.product .header{
    background-color: #F5F5F5;
    padding: 50px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    cursor: pointer;
    width: 270px;
    height: 250px;

}
.discount{
    background-color: #DE5353;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    left: 10px;
    top: 10px;
}
.hover{
    background-color: #000;
    color: #fff;
    width: 100%;
    position: absolute;
    bottom: -50px;
    left: 0;
    outline: none;
    border: none;
    padding: 15px 0;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    transition: 0.5s ease-out;

}
.product .header:hover .hover{
    bottom: 0;
}
.header svg{
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    height: 30px;
    width: 30px;
}
.eye{
    right: 15px;
    top: 50px;
}
.heart{
    right: 15px;
    top: 15px;
}
.product .footer{
    font-weight: 800;
}
.price{
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.price del{
    color: #DE5353;
    margin-left: 10px;
}
.head{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
    padding: 0px 20px;

}
.head p{
    margin-left: 10px;
    font-weight: 800;
}
.head2{
    display: flex;
    align-items: center;
}
.square{
    width: 20px;
    height: 40px;
    border-radius: 5px;
    background-color: #DE5353;
}
section{
    padding: 50px;
}
.head button{
    background: none;
    color: #000;
    border: none;
    border: 1px solid #9e9e9e;
    outline: none;
    border-radius: 5px;
    padding: 15px 50px;
    margin: 30px 0;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.6s ease;
}
.new{
    background-color: #00FF66;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    left: 10px;
    top: 10px;
}
.ffooter {
    background-color: black;
}
.ffooter .footer {
    display: flex;
    justify-content: space-between;
    color: white;
    border-bottom: 1px solid white;
    padding: 50px 150px 40px;
}
.ffooter .footer a {
    text-decoration: none;
    color: white;
}
.ffooter .fcolumn {
    display: inline-block;
    text-align: left;
    margin: 0 -10px;
}
.ffooter span {
    display: block;
    margin: 10px 0 10px;
    margin: 14px 0;
}
.ffooter .footer li {
    display: inline;
    list-style: none;
    margin: 0px 10px;
}
.ffooter .footer address {
    text-emphasis: none;
    font-style: normal;
}
.ffooter h3 {
    font-size: 25px;
    margin-bottom: 12px;
}
.ffooter h4 {
    font-size: 20px;
    font-weight: normal;
}
.ffooter .footer span {
    font-size: 15px;
}
.ffooter .footer input {
    background-color: black;
    color: gray;
    border: 2px solid white;
    padding:  10px 10px 10px 10px;
    border-radius: 6px;
}
.ffooter .fsend {
    text-align: right;
    margin-top: -33px;
    margin-right: 13px;
}
.ffooter .fimg {
    display: flex;
    margin-bottom: 14px;
}
.ffooter .appmarket img {
    display: block;
    margin-left: 8px;
}
.ffooter .copyright {
    text-align: center;
    padding: 15px;
    font-size: 30px;
}