.body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    background: black;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
}
.container a {
    color: #fff;
    margin-left: 5px;
}
.select {
    margin-left: 50px;
    border: none;
    background: black;
    color: white;
    outline: none;
}
.mohtava {
    margin: 30px;
}
.link {
    margin-left: 60px;
    text-decoration: none;
    color: gray;
}
.line {
    text-decoration: none;
}
.input {
    width: 200px;
    text-align: left;
    position: absolute;
    top: 45px;
    right: 500px;
    background: #eeecec;
    border-radius: 5px;
}
.search {
    position: relative;
    float: right;
    margin-right: 490px;
    margin-top: 5px;
}
.form-line {
    position: absolute;
    top: 170px;
    right: 70px;
    float: right;
    margin: 50px;
    
}
input {
    display: block;
    margin: 20px;
    border: none;
    outline: none;
    padding: 10px;
}
.btn {
    display: block;
    width: 430px;
    margin-top: 30px;
    padding: 17px;
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btn:hover {
    background: rgb(213, 81, 81);
}
.btn:active {
    background: rgb(0, 252, 0);
}
.google {
    background: white;
    color: black;
    border: 1px solid gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button img {
    float: left;
}
.text {
    display: block;
    margin: 25px;
}
.space {
    margin-left: 15px;
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer {
    background-color: black;
}
.footer {
    display: flex;
    justify-content: space-between;
    color: white;
    border-bottom: 1px solid white;
    padding: 50px 150px 40px;
}
.footer a {
    text-decoration: none;
    color: white;
}
.fcolumn {
    display: inline-block;
    text-align: left;
    margin: 0 -10px;
}
footer span {
    display: block;
    margin: 10px 0 10px;
    margin: 14px 0;
}
.footer li {
    display: inline;
    list-style: none;
    margin: 0px 10px;
}
.footer address {
    text-emphasis: none;
    font-style: normal;
}
footer h3 {
    font-size: 30px;
    margin-bottom: 12px;
    font-style: normal;
}
footer h4 {
    font-size: 25px;
    font-weight: normal;
}
.footer span {
    font-size: 17px;
}
.footer input {
    background-color: black;
    border: 2px solid white;
    padding: 10px 8px 10px 10px;
    border-radius: 6px;
}
.fsend {
    text-align: right;
    margin-top: -50px;
    margin-right: 25px;
}
.fimg {
    display: flex;
    margin-bottom: 15px;
}
.appmarket img {
    display: block;
    margin-left: 8px ;
}
.copyright {
    text-align: center;
    padding: 15px;
}